
/*-----INDEX PAGE STYLING---*/


nav {
  background-color:rgba(2,2,2,0.8);
  position:fixed;
  width:100%;
  top:0;
  z-index: 1;
 
}
#logo{
  padding-top: 10px;
  padding-left:60px;
 font-size:50px;
}


#links ul {
  float:right;
  display: inline-flex;
  list-style-type: none;
  
}
#links ul li {
  padding:27px 75px 15px 75px;
 
}


#links ul li a {
  color:white;
  text-decoration:none;
  font-weight:500;
}
#links ul li a:active{
  color:yellow;


}


#links ul li a:hover{
color:red;
}



#showcase .note {
  z-index: -1;
  text-align: center;
  background-image: url('../images/sunset.jpeg');
  filter:alpha(opacity=50);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  

}


#showcase .note  h1  {
  z-index:1;
  font-size: 60px;
  padding-top: 80px;
  margin-left: auto;
  padding-bottom:10px;
}
/*==================================ABOUTME-==========================*/
.bg1{
  background-color: #008080;
}

#aboutme .container {
  background-color: beige;
  position: relative;
  padding-top:90px;
  width:100%;
  clear: both;
 

}
#aboutme .container>p{
opacity: 1;
font-size:70px;
font-weight:600;
color: chocolate; 
text-shadow:black 0 2px 3px;; 

}
#profile{
  box-sizing: border-box;
}


#profile img{
  width: 100%;
  box-shadow: 2px lightblue;
  box-sizing: border-box;
}

#extra {
  background-color: darkkhaki;
}
#extra .container {
  z-index:1000;
  width:100%;
  padding-top:100px;

}
.habits h3,.interests h3 {
  background-color:black;
  color:rgb(76, 148, 124);
  text-align:center;
  font-size :1.5em;
  font-weight:600;

}
.intro .fewwords p,.habits,.interests{
  line-height: 1.5;
  height: 100%;
  font-size:22px;
  font-weight:400;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*==================================MYWORK-==========================*/
.bg {
  background-color:greenyellow;
}


#mywork .container {
  z-index:1000;
  width:100%;
  padding-top:100px;

}

#professional>h2,#personal>h2,#role>h4,.WebScrapper>h6,.AI>h6 {
  text-align: left;
  text-decoration: blueviolet 40px;
  text-transform: uppercase;
  padding-bottom:30px;
}
#personal>h2,#role>h4,.WebScrapper>h6,.AI>h6{
  padding-top:30px;
}

.WebScrapper>ul,.AI>ul {
  padding-top: 30px;
  list-style-type: disc;

}
#professional p,.WebScrapper>ul li ,.AI>ul li, #personal p,#personal>ul li {
  line-height: 2;
  font-size:20px;
}


/*===========================CONTACT=====================*/
#contact{
  background-color:#008080;
  z-index: -1;
} 
#contact .container {
  z-index:1000;
  width:100%;
  height: 100vh;
  padding-top:100px;

}
