
/*-----INDEX PAGE STYLING---*/

  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(235, 221, 221); 
    color: rgb(29, 26, 26); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px; 
    font-weight: 500;
}
#myBtn:hover{
  color:white;
  font-weight:800;
  background-color: black;
}

nav {
  background-color:rgba(63, 57, 57, 0.8);
  width:100%;
  top:0;
  z-index: 1;
 
}
#logo{
  padding-top: 10px;
  padding-left:60px;
  font-size:50px;
}

#links ul {
  float:right;
  display: inline-flex;
  list-style-type: none;
  
}
 #links ul li {
  padding:29px 100px 25px 25px;
 
} 


#links ul li a {
 
  color:rgb(239, 239, 243);
  text-decoration:none;
  font-weight:600;
}



#links ul li a:hover{
color:red;
}
#smetha {
  font-size:50px;
  font-weight: 800;
  text-align: center;
  opacity: 0.5;
}
#sametha em {
  color:rgb(238, 192, 192);
  text-shadow: 2px 2px#000;
  z-index:1000;
}
#willsmith {
  color:greenyellow;
  font-style: italic;
  font-size:1.5em;
  text-align: end;
}


#showcase .note {
  z-index: -1;
  text-align: center;
  background-image: url('./images/sunset.jpeg');
  filter:alpha(opacity=50);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  

}


#showcase .note  h1  {
  font-size: 60px;
  padding-top: 40px;
  margin-left: auto;
  padding-bottom:10px;
  z-index:1;
  
}
#srikanth p {
  padding-top:50px;
  color:white;
  font-size: 2em;
  font-weight:inherit;
}
#shortinfo {
  padding:0 50px;
  height:300px;
  margin:90px 50px 90px 50px;
  text-align:center;
  background-color:rgba(245, 238, 238, 0.8);
}
#shortinfo p {
padding-top: 30px;
color:rgb(66, 63, 61);
font-size:2.4em;
font-weight:500;

}
/*==================================ABOUTME-==========================*/


#aboutme .container {
  background-color: beige;
  position: relative;
  padding-top:40px;
  width:100%;
  clear: both;
 

}
#aboutme .container>p{
opacity: 1;
font-size:70px;
font-weight:600;
color: chocolate; 
text-shadow:black 0 2px 3px;; 

}
#profile{
  box-sizing: border-box;
}


#profile img{
  width: 100%;
  box-shadow: 2px lightblue;
  box-sizing: border-box;
}

#extra {
  background-color: darkkhaki;
}
#extra .container {
  z-index:1000;
  width:100%;
  padding-top:100px;

}
.habits h3,.interests h3 {
  background-color:black;
  color:rgb(76, 148, 124);
  text-align:center;
  font-size :1.5em;
  font-weight:600;

}
.intro .fewwords p,.habits,.interests{
  line-height: 1.5;
  height: 100%;
  font-size:22px;
  font-weight:400;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*==================================MYWORK-==========================*/



#mywork .container {
  z-index:1000;
  width:100%;
  padding-top:50px;

}

#professional>h2,#personal>h2,#role>h4,.WebScrapper>h6,.AI>h6 {
  text-align: left;
  text-decoration: blueviolet 40px;
  text-transform: uppercase;
  padding-bottom:30px;
}
#personal>h2,#role>h4,.WebScrapper>h6,.AI>h6{
  padding-top:30px;
}

.WebScrapper>ul,.AI>ul {
  padding-top: 30px;
  list-style-type: disc;

}
#professional p,.WebScrapper>ul li ,.AI>ul li, #personal p,#personal>ul li {
  line-height: 2;
  font-size:20px;
}


/*===========================CONTACT=====================*/
#contact .container {
  z-index:1000;
  width:100%;
  height: 100vh;
  padding-top:50px;

}
/*=============================Blog======================================*/


#blogdiv {
  font-weight:800;
  font-size:2.5em;
  color:rgb(94, 13, 160);
  text-align: center;
}
#blogdiv p {
  font-size:50px;
}