
/* body {
  transition: opacity 500ms linear 250ms;
} */


/*----section-1----*/
#section1 {
  width:100%;
  height: 100vh;
  padding-top:70px;
  padding-bottom:70px;
  background: url(pexels-photo-961402.jpeg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  
}
#section1 .container {
  float: right;
  font-size:2.5em;
  font-weight:600;
  margin-top:80px;
  z-index:1;
  color:blueviolet;
 
}

/*----section-2----*/

#section2 {
  font-family: 'Handlee', cursive;
  font-size:25px;
  color:white;
  padding-top:50px;
  padding-bottom:70px;
  background-color:rgb(26, 24, 24);
  
}
#section2 .part1>h1 {
  text-align:center;
  margin-bottom: 30px;

}
#section2 .part1 {
  padding:50px 30px;

}
/*----section-3----*/
#section3 {
  background: #CC95C0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: 20px;
  padding-top:50px;
  padding-bottom:70px;
 
}
#section3 h5 {
  color:green;
}
#section3 .container>h1 {
  text-align: center;
  margin-bottom: 50px;
}
/*----section-4----*/
#section4 {
  height:100vh;
  padding-top:70px;
  padding-bottom:70px;
}
#section4 .container{
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*----section-5----*/
#section5 {
  text-align: center;
  padding-top:35px;
  padding-bottom:35px;
  background:blue;
  color:white;
 
 background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
 background: linear-gradient(to right, #fffcdc, #d9a7c7); 

}

/*---social---*/
#social {
  margin-top: 25px;
}
#social a {
  font-size: 50px;
}
/*media queries*/
@media screen and (max-width: 600px) {
  #section1 {
    text-align:center;
    font-size: 1em;
    font-weight:500;
    height:100vh; 

  }
  #section1 .container p {
    margin-bottom:0;
    padding-bottom:0;
    margin-top : 50px;
  }
}
@media screen and (max-width: 400px) {
  #section1 {
    text-align:center;
    font-size: .5em;
    font-weight:200;
   margin:0;
  }
  #section1 .container  {
    margin-bottom:0;
    padding-bottom:0;
    margin-top : 50px;
  }
}