body {
  margin:0 50px;
}
#first {
  display: grid;
  grid-template-columns: 100px auto;
 
}
#menu-ul {
  display: none;
}
#first #logo {
  color: darkorange;
  padding-top:25px;
  float: left;
}
#first h4 {
 
float:right;
padding-right: 50px;
}
#menu {
  text-align:center;
  
}
#menu #menu-ul {
list-style: none;
padding:0;
background-color:gray;
color:white;
}
#menu-ul li {
  padding:10px;
  

}
#menu-ul li a {
  text-decoration: none;
  color:white;
}
#showcase {
  background:-webkit-gradient(
    linear, left top, left bottom, from(rgba(31, 30, 30, 0.8)),
    to(rgba(133, 91, 91, 0.2)), color-stop(.5,#110b0b)
  ),
	 url('blank-business-composition-373076.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
 
}
#showcase h1 {
  text-align:center;
  padding:30px 20px;
  z-index:1;

}
